<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <h1>Basketball Team</h1>
   <form >
     <p>Team Name: <input id="Submit" type="text" name="name"></p>
   </form>
 </body>
</html>


